11_21/flows_raspberrypi.json
[{"id":"1a2d72a.03a688d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf040718.cdf948","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15d59e0d.738d52","type":"mongodb2","z":"","uri":"mongodb://particle:tirpacle@cluster0-shard-00-00-ijohk.gcp.mongodb.net:27017,cluster0-shard-00-01-ijohk.gcp.mongodb.net:27017,cluster0-shard-00-02-ijohk.gcp.mongodb.net:27017/particletest?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority","name":"Particle Test","options":"","parallelism":"-1"},{"id":"ce480e3.a58d9f","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"409fe4fd7507931857b91cdd7a314e23c1775b38","name":""},{"id":"48d905aa.01960c","type":"mqtt in","z":"1a2d72a.03a688d","name":"","topic":"opiframe4/data/ID2","qos":"2","datatype":"json","broker":"cf040718.cdf948","x":150,"y":180,"wires":[["28c67ac4.dd4156"]]},{"id":"f133e62a.881828","type":"debug","z":"1a2d72a.03a688d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"c8254992.5b7398","type":"inject","z":"1a2d72a.03a688d","name":"","topic":"","payload":"\"data plz\"","payloadType":"str","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["dbe289b8.15d0c8"]]},{"id":"dbe289b8.15d0c8","type":"mqtt out","z":"1a2d72a.03a688d","name":"","topic":"opiframe4/request/ID2","qos":"","retain":"","broker":"cf040718.cdf948","x":400,"y":100,"wires":[]},{"id":"28c67ac4.dd4156","type":"function","z":"1a2d72a.03a688d","name":"add_timestamp","func":"\nvar payload = msg.payload;\ntime = new Date().toISOString();\nmsg.payload[\"DateTime\"] = time;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["f133e62a.881828","67cfd190.0f19a"]]},{"id":"67cfd190.0f19a","type":"mongodb2 in","z":"1a2d72a.03a688d","service":"_ext_","configNode":"15d59e0d.738d52","name":"","collection":"dht_data","operation":"insert","x":720,"y":260,"wires":[[]]},{"id":"47b03b39.de2184","type":"particle-SSE","z":"1a2d72a.03a688d","pcloud":"ce480e3.a58d9f","subscribetype":"devid","devprodslug":"40002b000247373336323230","devid":"","evtname":"opiframe5","strict":0,"x":280,"y":400,"wires":[["ab6bd18a.8db26"]]},{"id":"ab6bd18a.8db26","type":"debug","z":"1a2d72a.03a688d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":420,"wires":[]}]